*{
    margin: 0;
    padding: 0;
}

body{
    /* background-color: rgb(240, 235, 236); */
}

#list{
    /* margin-left: 30px; */
    border: 2px solid black;
}

h5{
    margin: 10px;
    color: #ff7777;
    text-align: center;
    /* border: 2px solid black; */
    background-color: #1a3e3f;
    font-size: 15px;
}

p{
    margin: 10px;
    text-align: center;
    text-align: center;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    color: #a000b4;
    background-color: #ffe1e3;
}

button{
    margin: 5px;
    padding: 3px;
    background-color: #d19d57;
    text-transform: capitalize;
    font-size: 15px;
    border-radius: 8px;
    margin-left: 80px;
    color: #910000;
    text-transform: uppercase;
}

.card {
    display: inline-block;
    /* flex-wrap: wrap; */
    flex-direction: column;
    width: 300px;
    background-color: rgb(35 25 25);
    border-radius: 5px;
    margin: 25px !important;
}

#popout {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

#popbox {
    height: 226px;
    width: 400px;
    background-color: #9db54b;
    text-align: center;
    text-transform: uppercase;
    padding: 30px;
    position: absolute;
    border-radius: 8px;
    opacity: 1;
}

#closeBtn{
    margin-left: 10px;
    margin-top: 20px;
    background-color: #630363;
}
